node_modules/

public/uploads/profilePics/*
public/uploads/petPics/*
public/uploads/groomerPics/*

.env
*.env
frontend/.env

drizzle/
.env
*.env
.env
*.env
frontend/.env
backend/.env
backend_error/.env
frontend_admin/.env
